{%  extends "layout.html" %}
{%  block content %}
    <p><a class="btn btn-lg btn-success" href="{{ url_for('createcard') }}" role="button">Make a new card</a>
    {% for card in cards %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">{{ card.title }}</div>
                <div class="col-xs-1">{{ card.year }}</div>
                <div class="col-xs-4">{{ card.authors }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}