{%  extends "layout.html" %}
{%  block content %}
        <div class="page-header text-center">
            <h1>Cardemia</h1>
            <p class="lead">A Cue-Card based Research Notes App</p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>

        <div class="row marketing text-center">
            <h3>How to use</h3>
            <div class="col-lg-4">
                <h4>Create Cards</h4>
                <p>Use the card-creator to make a card for each research paper you're reading.</p>
            </div>

            <div class="col-lg-4">
                <h4>Briefly Summarize</h4>
                <p>Cards are broken up into Paper sections (Introduction, Methods, Results, etc). Write short, one-sentence summaries for each!</p>
            </div>

            <div class="col-lg-4">
                <h4>Organize ideas</h4>
                <p>Organize cards into projects to help lay out the logic of your research!</p>
            </div>
        </div>
{% endblock %}