    <!-- CSS -->

    <!-- JS -->
    <script src="../static/js/main.js"></script>


{%  extends "layout.html" %}
{%  block content %}
    {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
        <div class="page-header text-center">
            <h1>Cardemia</h1>
            <p class="lead">A Card based Research Notes App</p>
            {% if current_user.is_authenticated %}
                <p><a class="btn btn-lg btn-success" href="{{ url_for('profile') }}" role="button">Go to Profile</a>
                {% else %}
                <p><a class="btn btn-lg btn-success" href="{{ url_for('signup') }}" role="button">Sign up today</a>

                {% endif %}
            </p>
        </div>

        <div class="row marketing text-center">
            <h3>How to use</h3>
            <div class="col-lg-4">
                <h4>Create Cards</h4>
                <p>Use the card-creator to make a card for each research paper you're reading.</p>
            </div>

            <div class="col-lg-4">
                <h4>Briefly Summarize</h4>
                <p>Cards are broken up into Paper sections (Introduction, Methods, Results, etc). Write short, one-sentence summaries for each!</p>
            </div>

            <div class="col-lg-4">
                <h4>Organize ideas</h4>
                <p>Organize cards into projects to help lay out the logic of your research! (coming soon)</p>
            </div>
        </div>
{% endblock %}