{%  extends "layout.html" %}
{%  block content %}

    <div class="jumbotron">
        <h1>Sign in</h1>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}

        {% for message in form.username.errors %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% for message in form.password.errors %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <form class="form-signin" action="{{ url_for('signin') }}" method=post>
            {{ form.csrf_token }}
            {{ form.name }}

            {{ form.username.label }}
            {{ form.username(class_='form-control') }}

            {{ form.password.label }}
            {{ form.password(class_='form-control') }}

            {{ form.submit(class_='btn btn-primary') }}
        </form>
        </div>

{% endblock %}