{%  extends "layout.html" %}
{%  block content %}

    <div class="container-fluid">


        <h1>Sign in</h1>

        {% for message in form.username.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for message in form.password.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <form class="form-signin" action="{{ url_for('signin') }}" method=post>
        {{ form.csrf_token }}
        {{ form.name }}

        {{ form.username.label }}
        {{ form.username(class_='form-control') }}

        {{ form.password.label }}
        {{ form.password(class_='form-control') }}

        {{ form.submit }}
        </form>
        </div>

{% endblock %}