{%  extends "layout.html" %}
{%  block content %}
    <div class="jumbotron">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
    {% endfor %}
        <p>{{ card.title }}</p>
        <p>{{ card.year }}</p>
        <p>{{ card.authors }}</p>
        <form class="form-signin" action="{{ url_for('viewcard') }}" method=post>
            {{ form.csrf_token }}
            {{ form.name }}

            {{ form.text.label }}
            {{ form.text }}

            {{ form.submit(class_='btn btn-primary') }}
        </form>
    </div>
{% endblock %}